@import url('https://fonts.googleapis.com/css?family=Signika&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Signika';
}

header h1 {
    font-size: 3em;
    color: cadetblue;
    border-bottom: 3px solid black;
    width: 130px;
    margin: 25px 20px;
}

h2 {
    width: 250px;
    border-bottom: 3px solid black;
    font-size: 2em;
    color: lightseagreen;
    margin: 22px;
}

img {
    width: 100%;
    border-radius: 20px;
}

p {
    color: rgb(105, 69, 44);
    font-size: 1.2em;
}

section ul li h3 {
    border-bottom: 2px solid black;
}

.grid-item {
    width: 280px;
    border: 2px solid;
    margin: 10px;
    list-style: none;
    border-radius: 10px;
    padding: 15px;
    background-color: white;
}

#grid-floats .grid-item {
    float: left;
}

#grid-flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.grid-item:hover {
    transition: all 1s ease, padding 0.8s linear;
    width: 300px;
    cursor: pointer;
    opacity: .5;
    margin: 20px;
}

@media (min-width: 600px) and (max-width: 940px) {
    #grid-flex .grid-item,
    #grid-floats .grid-item {
        margin-left: 5%;
        width: 40%;
    }
}

@media (max-width: 600px) {
    #grid-flex .grid-item,
    #grid-floats .grid-item {
        text-align: center;
        margin-left: 10%;
        width: 80%;
    }
}